
services:
  # db:
  #   image: postgres
  #   container_name: c-postgres
  #   restart: unless-stopped
  #   env_file:
  #     - .env
  #   environment:
  #     - POSTGRES_USER=$POSTGRES_USER
  #     - POSTGRES_PASSWORD=$POSTGRES_PASSWORD
  #     - POSTGRES_DB=$POSTGRES_DB
  #   ports:
  #     - $POSTGRES_PORT:5432
  #   volumes:
  #     - db:/var/lib/postgres
  #   networks:
  #     - s_port_network

  server:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: c-s-port-server
    depends_on:
      db:
        condition: service_started
    env_file:
      - .env
    ports:
      - "5000:5000"
    volumes:
      - ./:/kyuuchan199/s-port/server
      - node_modules:/kyuuchan199/s-port/server/node_modules
    networks:
      - s_port_network
    command: ["sh", "-c", "npx prisma db push && npm run start"] # Run prisma db push after container starts

volumes:
  db:
  node_modules:

networks:
  s_port_network:
    driver: bridge
